.btn{
    cursor: pointer; 
    width:200px; 
    height:50px; 
    color:white; 
    background-color: #8b8b8b;
    font-size: 30px; 
    border-radius: 10px;
}
.btn:hover{
    transform: translateY(-5px);
    transition: 0.2s;
}